.label {
  margin-bottom: 15px;
}

.input {
  margin-left: 15px;
  border-radius: 5px;
  background-color: #81ddeb;
  border: 1px solid black;
}

.input:hover,
.input:focus {
  border: 1px solid green;
}
